<section>
  <div class="dropdown">
    <select>
      <option class="hidden-option" selected disabled>Genre</option>
      <option>Romance</option>
      <option>Detective</option>
      <option>Thriller</option>
      <option>Action</option>
      <option>Documentary</option>
      <option>Horror</option>
    </select>
  </div>
</section>
<section class="my-library-list-section">
  <div class="my-library-list-container">
    <div class="my-library-no-movies visually-hidden">
      <p class="my-library-oops-message">
        OOPS...<br />
        We are very sorry! <br />
        You don't have any movies at your library.
      </p>
      <button>
        <a href="../catalog.html" class="my-library-search-link button"
        >Search movie</a>
      </button>
    </div>
    <ul class="my-library-movie-list" id="my-library-list"></ul>
  </div>
</section>